/* ---- Reset ---- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

/* ---- Header ---- */

header{
    background-color: white;
    padding: 10px 20px;
}
.title{
    display: inline-block;
}
.banner{
    vertical-align: middle;
}